<header>
    
    <span><a href="/">Codeial</a></span>

    <ul>
        <%if(locals.user){ %>
            <li id="user-name"><%= user.name %></li>
             <li><a href="/users/profile">profile</a></li>
            <li><a href="/users/sign-out"><button>sign-out</button></a></li>
        <%}else{%>
            <li><a href="/users/sign-up"><button>sign-up</button></a></li>
            <li><a href="/users/sign-in"><button>sign-in</button></a></li>
        <%}%>
    </ul>
</header>