<html>
    <head>
        <title>
            <%= title %>
        </title>
        <style>
            html {
                background-color: rgb(138, 136, 136);
                color: white;
            }
        </style>
    </head>
    <body>
        <h1>Codeial <%= title %></h1>
    </body>
</html>