footer{
    display: flex;
    flex-direction: column;
    // background-color: #14213d;
    border-top: 2px solid cyan;
    height: fit-content;
    padding-left: 5%;
    font-size: 20px;
    width: 95%;
    a {
        text-decoration: none;
        color: inherit;}
}
