header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #000000;
    height: 70px;
    font-size: 20px;
    border-bottom: 2px solid cyan;
    span {
        font-family: monospace;
        margin-left: 15px;
        align-content: center;
        font-size: 35px;
        font-weight: bolder;
        color: #f8f32b;
        a {
            text-decoration: none;
            color: inherit;}
    }
    ul {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        li {
            // width: 100px;
            list-style-type: none;
            margin: 0 15px;}
        #user-name {
            width: fit-content;
        }
        a {
            text-decoration: none;
            color: inherit;}
            button {
                width: 100px;
                height: 40px;
                font-size: 18px;
                color: inherit;
                border-radius: 5px;
                background-color: #e01a4f;
                border: none;
            }
    }
}