html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #000000;
    color: white;
    ::-webkit-scrollbar{
        display: none;
    }
    input, textarea {
        background-color: dimgrey;
        color: gold;
    }
    body {
        margin: 0;}
    body #layout-main {
        // height: 100%; 
        // text-align: center;
        // color: #ffac41;
        color: cyan;
        margin: 10px;
        height: 100%;
        overflow: scroll;
        li {
            list-style-type: none;
        }
    }
}