html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #02020a;
    color: #e5e5e5;
    ::-webkit-scrollbar{
        display: none;
    }
    input, textarea {
        background-color: #30292f;
        color: #fca311;
        border-radius: 10px;
        padding: 10px;
        border: none;
    }
    textarea:focus {
        -webkit-textfield-decoration-container: unquote($string: "")
    }
    body {
        margin: 0;}
    body #layout-main {
        // height: 100%; 
        // text-align: center;
        // color: #ffac41;
        color: #0094c6;
        margin: 10px;
        height: 100%;
        overflow: scroll;
        li {
            list-style-type: none;
        }
    }
}