header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  height: 70px;
  font-size: 20px; }

span {
  margin-left: 15px;
  align-content: center;
  font-size: 25px; }

ul {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; }

li {
  list-style-type: none;
  margin: 0 15px; }

#user-name {
  width: fit-content; }

a {
  text-decoration: none;
  color: inherit; }

button {
  width: 100px;
  height: 40px;
  font-size: 18px;
  color: inherit;
  border-radius: 5px;
  background-color: #ff1e56; }
