html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #02020a;
  color: #e5e5e5; }
  html ::-webkit-scrollbar {
    display: none; }
  html input, html textarea {
    background-color: #30292f;
    color: #fca311;
    border-radius: 10px;
    padding: 10px;
    border: none; }
  html body {
    margin: 0; }
  html body #layout-main {
    color: #0094c6;
    margin: 10px;
    height: 100%;
    overflow: scroll; }
    html body #layout-main li {
      list-style-type: none; }
